*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Poppins", sans-serif;
    background: linear-gradient(260deg, #d75d62, #754d4f);
}
.hat-body{
    background: linear-gradient(260deg, #b27a5c, #7f5450);
}
.handbag-body{
    background: linear-gradient(260deg, #d75d62, #754d4f);
}
.boot-body{
    background: linear-gradient(260deg, #5d8cb7, #4c4f70);
}

.showcase{
    display: flex;
    //position: absolute;
    align-items: center;
    min-height: 90vh;
    justify-content: space-between;
    padding: 0rem 15% 0rem 15%;
    overflow: hidden;
}


nav{
    min-height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 15% 0rem 15%;
    color: white;

    img{
        cursor: pointer;
        transform: scale(0.7);
    }
}

.logo{
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-weight: bold;
}

.image-container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 80vh;
    z-index: 2;
    flex: 1;
    img{
        width: 80%;
    }
}

.showcase-text{
    color: white;
    flex: 1;
    padding-bottom: 10rem;
}
.showcase-title{
    font-size: 2rem;
}
.showcase-subtitle{
    font-size: 1rem;
    font-weight: 400;
}
.showcase-button{
    button{
        text-decoration: none;
        margin: 1rem 0rem;
        cursor: pointer;
        color: black;
        font-weight: 500;
        font-family: "Poppins", sans-serif;
        background: white;
        font-size: 0.8rem;
        border: none;
        padding: .5rem 2rem;
        border-radius: 2px;
    }
}
.showcase-arrow{
    cursor: pointer;
    position: absolute;
    right: 15%;
    bottom: 10%;
    transform: scale(0.6);
}
// Bubbles
.circle{
    position: absolute;
}
.circle-1{
    left: -3%;
    bottom: -3%;
    transform: scale(1.5);
}
.circle-2{
    left: 40%;
    bottom: 2%;
}
.circle-3{
    left: 20%;
    bottom: 40%;
    transform: scale(0.8);
}

.productPage{
    overflow-x: hidden;
    overflow: hidden;
    background: white;
    min-height: 90vh;
    position: absolute;
    width: 100%;
    z-index: 5;

    .product-description{
        padding: 5% 15%;
        color: #4b4b4b;
        h2{
            font-size: 2rem;
        }
        p{
            font-size: 1.2rem;
            padding: 1rem 0rem;
        }
    }

    .product-gallery{
        display: grid;
        padding: 0% 15%;
        grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
        grid-gap: 2rem;

        .product-img{
            border-radius: 1rem;
            width: 100%;
        }
    }

    .price{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .card{
        padding: 2rem;
    }
}

.loading{ 
    width: 100%;
    height: 100vh;
    background: rgb(37, 37, 37);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    h1{
        // @keyframes loadingAnim{
        //     0%{
        //         opacity: 1;
        //     }
        //     100%{
        //         opacity: 0.2;
        //     }
        // }
        color: white;
        // animation: loadingAnim 0.8s infinite;
        opacity: 1;
    }
}

@media screen and (max-width: 768px) {
    .showcase{
        flex-direction: column;
        padding: 19%;
        justify-content: space-evenly;
        min-height: 85vh;
    }
    .image-container{
        min-height: 30vh;
        justify-content: center;
        order: 1;
    }
    .circle-2{
        top: 90%;
        left: 50%;
        transform: translate(-50%, -50%) scale(3);
    }
    .circle-3,.circle-1{
        display: none;
    }
    .showcase-title{
        font-size: 1.5rem;
    }
    .showcase-subtitle{
        font-size: 1rem;
        padding: 2rem 0rem;
    }
    .showcase-text{
        padding-bottom: 0;
    }
    .showcase-arrow{
        right: 0;
        bottom: 50%;
    }
    .productPage{
        width: 100%;
        text-align: center;
    }
    
}